<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaole.studentloanhelper" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListApplication"
            android:label="@string/list_application" >
        </activity>
        <activity
            android:name=".AddUpdateLoan"
            android:label="@string/add_update_loan" >
        </activity>
        <activity
            android:name=".Calculate_grant"
            android:label="@string/title_activity_calculate_grant" >
        </activity>
        <activity
            android:name=".BorrowersNumber"
            android:label="@string/title_activity_national_survey" >
        </activity>
        <activity
            android:name=".CalculatePayment"
            android:label="@string/title_activity_calculate_payment" >
        </activity>
        <activity
            android:name=".help"
            android:label="@string/title_activity_help" >
        </activity>

        <receiver android:name=".AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".Loan_weblist"
            android:label="@string/title_activity_loan_weblist" >
        </activity>
    </application>

</manifest>
